.maps-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mapbox-map {
    clip-path: circle(100px at 479px 272px);
    position: relative;
    z-index: 1;
    flex: 1;
}

.mask {
    height: 100%;
    height: calc(100% - 200px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: green;
}

app-events {
    display: block;
    height: 200px;
    overflow-y: auto;
}