/* You can add global styles to this file, and also import other style files */

html, body, app-root, .container {
    height:100%;
    display: block;
}
body {
    max-width:800px;
    margin:0 auto;
    background:#ccc;
}

app-root {
    display: block;
}

.pin {
    position: relative;
    top: -23px;
    border-radius: 50%;
    border: 8px solid blue;
    width: 8px;
    height: 8px;
  }

  
  .pin::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid blue;
  }

  .pin-future {
      border-color:red;
  }

  .pin-future::after {
      border-top-color: red;
  }

  .pin-past {
      border-color:yellow;
  }
  
  .pin-past::after {
      border-top-color:yellow;
  }

  .pin-now {
      border-color:green;
  }

  .pin-now::after {
      border-top-color:green;
  }